
<div class="bottom-post-bar">
</br>
  {% for post in site.categories.poems %}
    {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
    {% endif %}
    {% endfor %}

    {% for post in site.categories.poems %}
      {% if post_index0 == forloop.index %}
        {% assign next_post = post.url %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post.url %}
        {% endif %}
      {% endfor %}

  <div class="next-post" >
    <span class="next">
    {% if next_post %}
      <a href="{{ next_post }}"><i class="fa fa-caret-left"></i> {{ next_post }}</a>
    {% else %}
      <i class="fa fa-caret-left" style="color: #8f8f8f"></i>
    {% endif %}
  </span>
  <span class="prev">
    {% if prev_post %}
      <a href="{{ prev_post }}"> {{ prev_post }} <i class="fa fa-caret-right"></i></a>
    {% else %}
      <i class="fa fa-caret-right" style="color: #8f8f8f"></i>
    {% endif %}
  </span>
  </div>

</br>
</br>
</br>
</br>
</br>
<div class="social-sharing">
  sharing is caring:
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
  <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit"><i class="fa fa-reddit"></i></a>
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
</div>

</div>
